.bg-primary {
    background-color: #17a2b8!important;
    height: 600px;
}
p.font-card-weight {
    font-weight: bold;
}
p.text-gach-line {
    text-decoration: line-through;
}
.footer {
    background-color: white;
    padding: 1rem 0rem;
}